*.pyc
*~
*.pyd
.pytest_cache/
_sphinx_build/
build/
dist/
.coverage
doc/_build
doc/api/generated
doc/gallery
doc/sample_data
.ipynb_checkpoints
*.egg-info
.coverage.*
paper/3_Article_MALM_ICSD_CompAndGeo_Joss
examples_inPrep
requirements_packaging
.mydotfiles
Makefile
